* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: "Poppins", sans-serif;
    position: relative;
}

.container {
    max-width: 107rem;
    margin: 0 auto;
    padding: 0 4rem;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #8e8e8e #ffffff;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 8px;
    width: 8px;
}

*::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: #ffffff;
}

*::-webkit-scrollbar-track:hover {
    background-color: #ffffff;
}

*::-webkit-scrollbar-track:active {
    background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #8e8e8e;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #878787;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #8e8e8e;
}

.mobile-menu {
    font-size: 2.3rem;
    cursor: pointer;
    display: none;
}

.mobile-menu:hover {
    color: #147efb;
    transition: all 0.3s;
}

@media (max-width: 900px) {
    .mobile-menu {
        display: flex;
    }
}

.closed-menu {
    left: -100% !important;
}

.open-menu {
    left: 0 !important;
}

.mobile-nav {
    display: flex;
    width: 100%;
    height: 100vh;
    z-index: 300;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

/* @media (min-width: 900px) {
    .mobile-nav {
        display: flex;
    }
} */


.mobile-nav span {
    font-size: 3.3rem;
    position: absolute;
    top: 2rem;
    right: 4rem;
    cursor: pointer;
}

.mobile-nav span:hover {
    color: #147efb;
    transition: all 0.3s;
}

@media (min-width: 900px) {
    .mobile-nav span {
        display: none;
    }
}

.mobile-nav ul {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    font-size: 2.3rem;
    list-style: none;
}

.mobile-nav ul a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    display: none;
}

.mobile-nav ul a:hover {
    color: #147efb;
    transition: all 0.3s;
}

@media (max-width: 900px) {
    .mobile-nav ul a {
        display: flex;
    }
}

@media (min-width: 900px) {
    .mobile-nav ul a {
        display: none;
    }
}

nav {
    font-size: 1.7rem;
    width: 100%;
    height: auto;
    padding: 25px 40px 25px 50px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
    z-index: 200;
    align-items: center;
}

@media (max-width: 400px) {
    nav {
        padding: 25px 30px 25px 30px;
    }
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav ul a {
    color: #2d2e32;
    text-decoration: none;
    transition: all 0.23s;
    font-weight: 600;
}

@media (max-width: 900px) {
    nav ul a {
        display: none;
    }
}

nav ul a:hover {
    color: #147efb;
}

.logo {
    cursor: pointer;
    color: #2d2e32;
}

.hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #f9f9f9;
    position: relative;
}

@media (max-width: 900px) {
    .hero {
        height: auto;
        padding: 11rem 0;
    }
}

.hero-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    position: relative;
}

@media (max-width: 900px) {
    .hero-main {
        flex-direction: column-reverse;
        text-align: center;
        height: auto;
        gap: 3rem;
    }
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65rem;
    gap: 10rem;
    position: relative;
}

@media (max-width: 900px) {
    .content {
        flex-direction: column;
        text-align: center;
        height: auto;
        gap: 3rem;
    }
}

@media (min-width: 1600px) {
    .content {
        margin-top: 6rem;
    }
}

@media (min-width: 1900px) {
    .content {
        margin-top: 10rem;
    }
}

.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    position: relative;
}

.hero-text h1 {
    font-size: 5.5rem;
    line-height: 1.2;
    color: #2d2e32;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

@media (max-width: 500px) {
    .hero-text h1 {
        font-size: 4rem;
    }
}

.hero-text p {
    font-size: 1.8rem;
    font-weight: 500;
    color: #767676;
    font-family: "Mulish", sans-serif;
    line-height: 1.6;
}

@media (max-width: 900px) {
    .hero-text p {
        margin-bottom: 5rem;
    }
}

.hero-text span {
    display: flex;
    gap: 1.3rem;
    margin: 2.5rem 0;
    cursor: pointer;
}

.hero-text span a {
    font-size: 3rem;
    color: #2d2e32;
}

@media (max-width: 900px) {
    .hero-text span {
        justify-content: center;
        margin-top: -2rem;
        margin-bottom: 4rem;
        gap: 1.6rem;
    }
}

.hero-text span i {
    transition: all 0.2s;
}

.hero-text span i:hover {
    color: #147efb;
}

.hero-text img {
    position: absolute;
    width: 6rem;
    top: 8.7rem;
    right: 13rem;
}

@media (max-width: 900px) {
    .hero-text img {
        right: 3rem;
    }
}

@media (max-width: 500px) {
    .hero-text img {
        top: 6.4rem;
        right: 4rem;
        width: 4.5rem;
    }
}

@media (max-width: 400px) {
    .hero-text img {
        right: 3rem;
    }
}

@media (max-width: 380px) {
    .hero-text img {
        right: 3rem;
    }
}

@media (max-width: 375px) {
    .hero-text img {
        right: 1.7rem;
    }
}

.hero-img {
    background-image: url("../static/media/shanto.jpg");
    width: 35rem;
    height: 35rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 3px solid #2d2e32;
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    position: relative;
    transition: all 1s ease-in-out;
}

@media (max-width: 500px) {
    .hero-img {
        width: 28rem;
        height: 28rem;
    }
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.skills {
    display: flex;
    font-size: 1.7rem;
    color: #767676;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media (max-width: 900px) {
    .skills {
        position: initial;
        flex-direction: column;
    }
}

.skills p {
    margin-right: 7rem;
    padding-right: 2rem;
    border-right: 2px solid rgba(45, 46, 50, 0.5);
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    color: #2d2e32;
}

@media (max-width: 900px) {
    .skills p {
        margin-right: 0;
        margin-bottom: 3rem;
        border-bottom: 2px solid rgba(45, 46, 50, 0.5);
        border-right: none;
        padding-right: 0;
        padding-bottom: 1rem;
    }
}

.skills ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

@media (max-width: 900px) {
    .skills ul {
        justify-content: center;
    }
}

.skills ul li {
    width: 6.5rem;
    height: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
    cursor: pointer;
}

.skills ul li img {
    width: 3.4rem;
    height: auto;
}

/* About */

.about {
    background-color: white;
    padding: 15rem 0;
}

@media (max-width: 1020px) {
    .about {
        padding: 8rem 0;
    }
}

.about .container {
    width: 100%;
    min-height: 100vh;
}
.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1020px) {
    .about-content {
        grid-template-columns: 1fr;
        text-align: left;
    }
}

.text-side {
    padding-right: 1.5rem;
}

@media (max-width: 1020px) {
    .text-side {
        max-width: 54rem;
        margin: 0 auto;
    }
}

@media (max-width: 400px) {
    .text-side {
        padding-right: 0;
    }
}

.about-section-content ul {
    font-size: 1.5rem;
    font-family: "Mulish", sans-serif;
    color: #767676;
    font-weight: 700;
    margin-bottom: 1.5rem;
    list-style: none;
}

.about-section-content ul li {
    font-size: 2.0rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

.about-section-content ul li:hover{
    color:aquamarine;
    background-color: #2d2e32;
    cursor: pointer;
}

/* .text-side span {
    -webkit-text-decoration: underline #147efb;
    text-decoration: underline #147efb;
} */

.text-side h4 {
    font-size: 3rem;
    color: #147efb;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

/* .text-side h3 {
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    line-height: 1.4;
    margin-bottom: 2rem;
    color: #2d2e32;
} */

/* .text-side p {
    font-size: 1.7rem;
    font-family: "Mulish", sans-serif;
    color: #767676;
    font-weight: 500;
    line-height: 1.5;
} */

.img-side {
    position: relative;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.img-side__main-img {
    width: 45rem;
    height: auto;
    border-radius: 1.7rem;
}

@media (max-width: 1020px) {
    .img-side__main-img {
        margin-bottom: 3.5rem;
    }
}

@media (max-width: 460px) {
    .img-side__main-img {
        width: 90%;
        height: auto;
    }
}

/* Education Section */

.education .container {
    width: 100%;
    min-height: 100vh;
    padding-top: 10vh;
}

.education-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1020px) {
    .education-content {
        grid-template-columns: 1fr;
        text-align: left;
    }
}

.education-section-content-title {
    font-size: 1.5rem;
    color:#2d2e32;
    text-transform: uppercase;
    font-weight:700;
    margin-bottom: 1.0rem;
}

.education-section-content ul {
    list-style: none;
}

.education-section-content ul li {
    margin-bottom: 0.6rem;
    margin-left: 1.0rem;
    padding: 1rem;
    border-radius: 1.0rem;
    display: flex;
}

.education-section-content ul li:hover {
    margin-bottom: 0.6rem;
    margin-left: 1.0rem;
    padding: 1rem;
    border-radius: 1.0rem;
    background-color: rgb(215, 245, 250);
    cursor: grab;
}

.education-section-content-logo {
    width: 8rem;
    height: auto;
    padding-right: 1rem;
}

.institute {
    font-size: 1.7rem;
    font-family: "Mulish", sans-serif;
    color: #2d2e32;
    font-weight: 700;
    line-height: 1.5;
}

.degree, .year, .result {
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    color: #767676;
    font-weight: 500;
    line-height: 1.5;
}

/* Problem Solving */

.problem-solving .container {
    width: 100%;
    min-height: 90vh;
    margin-top: 5vh;
    padding-bottom: 5vh;
}

.problem-solving-content-header h4 {
    font-size: 3rem;
    color: #147efb;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.problem-solving-content-description ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    
}

@media (max-width: 1020px) {
    .problem-solving-content-description ul li{
        margin-top: 3rem;
    }
}

/* 

.skills ul li {
    width: 6.5rem;
    height: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
    cursor: pointer;
} */

.problem-solving-content-description ul li {
    padding: 1.02rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-right: 1.0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-style: solid;
    border-radius: 1.0rem;;
    border-width: 2px;
    border-color:#000000;
    background-color: #171c28;
    max-width: 310px;
    cursor:grab;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.39);
}

.problem-solving-content-element-logo {
    height: fit-content;
    width: 300px;
}

.problem-solving-content-description ul li div h5 {
    font-size: 2rem;
    color: #fff;;
    border-bottom: solid;
    border-top: solid;
    border-width: 0.001rem;
}

.problem-solving-content-description ul li div h6 {
    font-size: 2rem;
    color: #b6fb14;
    padding-top: 3rem;
    padding-bottom: 3rem;
    min-height: 2rem;
    border-bottom: solid;
    border-width: 0.01rem;
    border-color:aquamarine;
}

.problem-solving-content-description ul li div p {
    color: #fff;
    font-size: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.problem-solving-content-description ul li div p b {
    font-size: 2rem;
    color:#deb887;
    border-width: 0.01rem;
}

.problem-solving-content-description ul li div a {
    cursor: pointer;
    text-decoration: none;
}

.problem-solving-content-description ul li div a:hover {
    cursor:pointer;
    background-color:#147efb;
    color:#fff;
}

.problem-solving-content-description ul li div a button {
    background-color: none;
    color:#001eff;
    font-size: 1.5rem;
    padding: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 1rem;
    border:none;
    font-weight: bold;
    text-decoration: none;
}

.problem-solving-content-description ul li div a button:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: #001eff;
    color: #fff;
}